body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container {
    width: 500px;
    margin: 150px auto;
    background: white;
}
h1{
    text-align: center;
    font-size: 1.9rem;
    background: rgb(78, 78, 250);
    margin: 0;
    height: 60px;
    line-height: 60px;
}
.fa-plus{
    float: right;
    line-height: 60px;
    padding-right: 10px;
    cursor: pointer;
}
input{
    width: 100%;
    height: 50px;
    background: rgb(219, 219, 219);
    box-sizing: border-box;
    border: 0;
    padding: 0 30px;
    font-size: 1.4rem;
    color: rgb(78, 78, 250);
}
input:focus{
    border: 3px solid rgb(78, 78, 250);
    background: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    width: 100%;
    font-size: 1.3rem;
    height: 50px;
    line-height: 50px;
}
li:nth-child(2n) {
    background: rgb(219, 219, 219);
}
li:hover span{
    opacity: 1;
    width: 50px;
}
span{
    cursor: pointer;
    background: rgb(231, 85, 85);
    color: white;
    display: inline-block;
    height: 50px;
    width: 0px;
    text-align: center;
    opacity: 0;
    transition-duration: 0.5s;
}
p{
    cursor: pointer;
    display: inline;
    padding-left: 30px;
}
.fa-trash-alt{
    margin-right: 0;
}
.display-input{
    display: none;
}
.completed {
    text-decoration:line-through;
    color:gray; 
}